.sidebar-menu .menu-open>a>.fa-angle-right, .sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} 
 .img-responsive{
 height:150px;     
 margin-bottom: 20px; box-shadow: 5px 6px 17px #2b2626;
 }
.close_button{
    background: #000;
    color: #fff;
    border-radius: 100%;
    padding: 10px;
    z-index: 9999;
    position: absolute;
    right: 12px;
    top: -14px;

}
.gp_pop_img:hover {border: 2px solid transparent;}




/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #3c8dbc;
  background-image: #3c8dbc;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3c8dbc;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}




.img-responsive.gp_img{height: 71px;     margin-bottom: 20px; box-shadow: 5px 6px 17px #2b2626;}
.gp_pop_img:hover {border: 2px solid transparent;}
.selected_img {
border: 2px solid #14a014;
box-shadow: 5px 7px 5px #5851bb;
}
.gp_img {
cursor: pointer;
}
.close_button{
    position: absolute;
    z-index: 999999999;
    top: -2px;
    right: 0;
    background: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    line-height: 18px;
}
.gp_none{display:none;}
.select2-selection__choice { color:black!important;}


.dz-message{
    text-align: center;
    font-size: 28px;
}